.boddy {
    font-family: 'Arial', sans-serif;
    background-color:black;
    margin: 0;
    color:aliceblue;
}
body{
    background-color:#032d4a;
  
}

.container {
    padding: 20px;
    height: 80vh;
    display:flex;
    align-items: center;
    font-size: larger;
    font-weight: 100px;
    justify-content: center;  
    color:black;
    padding-right: 45%;
    gap: 2%;
    padding-left: 40%;
   
}

input {
    padding: 8px;
    margin: 8px;
}
label{
    display:inline
}
button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: 10px rgb(76, 128, 127);
    font-weight: 200px;
    cursor: pointer;
    border-radius: 4px;
    margin: 1px dotted white;
}

button:hover {
    background-color: #2980b9;
}

#weatherInfo {
    margin-top: 20px;
    padding-left: 5rem;
    width: 100px;
}
.logo{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    padding-top: 1.5rem;
}
.headline{
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.weather{
    color: rgb(8, 3, 82);
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    font-size: larger;
    font-weight: 100px;
    font-style: normal;
}
